.Calculator {
  /* dimensions */
  width: 20rem;
  height: 35rem;

  /* spacing */
  padding: 1rem;
  box-sizing: border-box; /* this is to prevent padding from affecting component sizing*/

  /* appearance */
  border: 0.1rem solid #eddcd2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  background-color: #4e5754;
}

/* color for display */
/* background-color: #6b9080; */
/* also look up dusty green */
/* #697158 */
/* #635E65 */
